# Sprint 2

In [6]:
import pandas as pd
import matplotlib.pyplot as plt

import utils

In [7]:
df = utils.import_attrition_data()
df

['data\\customer_attrition_0.csv', 'data\\customer_attrition_1.csv', 'data\\customer_attrition_2.csv', 'data\\customer_attrition_3.csv', 'data\\customer_attrition_4.csv']

       credit_score  country  gender  ...  active_member  estimated_salary  churn
0               619   France  Female  ...              1         101348.88      1
1               608    Spain  Female  ...              1         112542.58      0
2               502   France  Female  ...              0         113931.57      1
3               699   France  Female  ...              0          93826.63      0
4               850    Spain  Female  ...              1          79084.10      0
...             ...      ...     ...  ...            ...               ...    ...
10001           771   France    Male  ...              0          96270.64      0
10002           516   France    Male  ...              1         101699.77      0
10003           709   France  Female  ...              1          42085.58      1
10004           772  Germany    Male  ...              0          92888.52      1
10005           792   France  Female  ...              0          38190.78      0

[10000 rows x 11 columns]